path.temp {
  fill: none;
  stroke: black;
  stroke-width: 2px;
}
circle:hover {
  stroke: grey;
  stroke-width: 2px;
  cursor: pointer;
}
.graph {
  position: absolute;
}
.tooltip {
  width: 170px;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #ffffff;
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
}
img.forumImg {
  width: 30%;
  margin: auto;
  display: block;
  margin-bottom: 10px;
}

a {
  cursor: pointer;
  color: #18BC9C;
}

a:not([href]):not([tabindex]) {
  color: #18BC9C;
}

body {
  margin: 20px;
  padding: 0;
}

.galleryContainer {
  max-width: 760px;
  margin: auto;
  border: #fff solid 3px;
  background: #fff;
}

/* Gallery main photo */
.main-img img,
.imgs img {
  width: 100%;
}

/* Gallery images*/
.imgs {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 5px;
}

/* Gallery Fade in animation */
@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

/* Gallery Fade in animation */
.fade-in {
  opacity: 0;
  animation: fadeIn 0.5s ease-in 1 forwards;
}

#map{
  height :1000px;
  width:100%
}
#origin-input{
  height: 50px;
  width:200px
}
#destination-input{
  height: 50px;
  width:200px

}
#changemode-walking{
  height: 30px;
  width:30px
}
#changemode-transit{
  height: 30px;
  width:30px;

}
#changemode-driving{
  height: 30px;
  width:30px
}
label{
  font: 20px arial, sans-serif;
}
#contact-page{
  width: 200;
  height: 100;
  padding: 0;
  margin: 0;
  overflow: hidden;
  background: #000000;
  background: -moz-linear-gradient(-45deg, #000000 0%, #000000 100%);
  background: -webkit-linear-gradient(-45deg, #000000 0%, #000000 100%);
  background: linear-gradient(135deg, #000000 0%, #000000 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0b62b3', endColorstr='#7dff5f', GradientType=1);
  font-family: "Helvetica Neue", "Futura", "Trebuchet MS", Arial;
  -webkit-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

/* Stations */

.padding {
  width: 100%;
  height: 100%;
}

div.radio{
  height: 100px;
  width:  700px;
}

div.station{
  font-size: 50px;
}

.station {
  position: relative;
  width: 50 px;
  height: 50 px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -webkit-box-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-left: 5%;
  cursor: pointer;
  box-sizing: border-box;
}
.station:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
.title {
  font-size: 40px;
  line-height: 4vw;
  font-weight: 300;
  color: #fff;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.33);
}
.subtitle {
  display: inline-block;
  vertical-align: middle;
}
.live {
  width: 8vw;
  height: 3vw;
  background-color: #cc1919;
  border-radius: 3px;
  font-weight: bold;
  color: #fff;
  font-size: 2.25vw;
  line-height: 3vw;
  display: inline-block;
  text-align: center;
  opacity: 0;
  text-shadow: none;
}

/* Playing Animation */
.playing {
  position: absolute;
  right: 5%;
  top: 50%;
  margin: -20px auto;
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  display: none;
}
.playing > div {
  background-color: #fff;
  height: 100%;
  width: 6px;
  display: inline-block;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  -webkit-animation: wavy 1s ease infinite forwards;
  animation: wavy 1s ease infinite forwards;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.33);
}
.playing .rect2 {
  -webkit-animation-delay: 0.25s;
  animation-delay: 0.25s;
}
.playing .rect3 {
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}
.playing .rect4 {
  -webkit-animation-delay: 0.75s;
  animation-delay: 0.75s;
}
.playing .rect5 {
  -webkit-animation-delay: 1.0s;
  animation-delay: 1.0s;
}
@-webkit-keyframes wavy {
  0% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
  50% {
    -webkit-transform: scaleY(0.6);
    transform: scaleY(0.6);
  }
  100% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
}
@keyframes wavy {
  0% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
  50% {
    -webkit-transform: scaleY(0.6);
    transform: scaleY(0.6);
  }
  100% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
}

#imageSection {
  padding: 10px 10px;
}